<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body ng-controller="myController">
    <div ng-include="'html/header.html'"></div>
    <content>
      <div class="container">
        <div class="create">
          <div class="title">
            <p>TẠO PHIM MỚI</p>
          </div>
          <div class="content-create-movie">
            <div class="row">
              <div class="col-md-4">
                <div class="show-logo">
                  <img src="/images/logo.png" alt="Hinh Demo">
                </div>
                <div class="button-file">
                    <input type="file" name="myFile">
                </div>
              </div>
              <div class="col-md-8">
                <form name="myForm">
                  <div class="form-group show-info">
                    <label>Tên bộ phim</label>
                    <input type="text" class="form-control" id="usr" placeholder="Tên phim" ng-model="data.tenPhim" required>
                    <div class=show-error>
                      <label ng-show="errName">Trường này là bắt buộc !!!</label>
                    </div>
                    <label for="sel1">Thể loại phim</label>
                    <select class="form-control" ng-model="data.theLoai">
                      <option value="" disabled>Chọn Thể Loại</option>
                      <option ng-repeat="kind in theLoai">{{kind}}</option>
                      <!-- <option>Tình Cảm</option>
                      <option>Hoạt Hình</option>
                      <option>Viễn Tưởng</option>
                      <option>Chiến Tranh</option> -->
                    </select>
                    <div class=show-error>
                      <label ng-show="errKind">Trường này là bắt buộc !!!</label>
                    </div>
                    <label>Thời gian phát hành</label>
                    <br>
                    <input type="text" class="chossedate" id="chossedate" ng-model="data.ngayChieu">
                    <div class=show-error>
                      <label ng-show="errDate">Trường này là bắt buộc !!!</label>
                    </div>
                    <br>
                    <label>Mô tả phim</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="Mô tả phim..." ng-model="data.moTa"></textarea>
                    <div class=show-error>
                      <label ng-show="errDescription">Trường này là bắt buộc !!!</label>
                    </div>
                    <div class="button-submit" ng-click="createMovie()">
                        <button type="button" class="btn btn-primary">Tạo Phim</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </content>
    <footer>
      <div ng-include="'html/footer.html'"></div>
    </footer>
  </body>
</html>
<script>
  $(document).ready( function() {
    $("#chossedate").datepicker({
        defaultDate: Date.now(),
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
  }).datepicker('setDate', Date.now())
});
</script>
<script src="javascripts/createMovie.js"></script>
