<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title></title>
    <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body ng-controller="editeUserController">
    <div ng-include="'/html/header.html'"></div>
    <content>
      <div class="container">
        <div class="create">
          <div class="title">
            <p hidden id="id" ng-model="id"></p>
            <p>Chỉnh sửa thông tin</p>
            <p>Xin chào {{info.name}}</p>
          </div>
          <div class="content-create-movie">
            <div class="row">
              <div class="col-md-4">
                <div class="show-logo">
                  <img src="{{info.img}}" alt="Hinh Demo" id="img-movie">
                </div>
                <div class="button-file">
                    <input type="file" name="fileUploaded" id="img-film" onchange="readURL(this);">
                    <div class=show-error>
                      <label ng-show="errImg">Trường này là bắt buộc.</label>
                    </div>
                </div>
              </div>
              <div class="col-md-8">
                <form name="myForm" method="POST" encType="multipart/form-data">
                  <div class="form-group show-info">
                    <label>Tên tài khoản:</label>
                    <input type="text" class="form-control" ng-model="info.name" required>
                    <div class=show-error>
                      <label ng-show="errName">Trường này là bắt buộc.</label>
                    </div>
                    <br>
                    <label>Email: {{info.email}}</label>
                    </div>
                    <div>
                      <a href="/users/profile"><button class="btn-pass">Quay về Profile</button></a>
                      <a href=""><button class="btn-pass" ng-click="editUser()">Cập nhật</button></a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </content>
    <footer>
      <div ng-include="'/html/footer.html'"></div>
    </footer>
  </body>
</html>
</script>
<script src="/javascripts/editUser.js"></script>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#img-movie')
              .attr('src', e.target.result)
              .width(300)
              .height(250);
      };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>
