<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- <script src="https//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script> -->
    <!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-cookies.js"> -->
    
</head>
<body ng-controller="loginController">
    <div ng-include="'/html/header.html'"></div>
    <content>
        <div class="container form-signup">
            <!-- <div>
                <input type="text" ng-model="hung">
                <button ng-click="test()">Test</button>
            </div> -->
            <div class="form-signup-content">
                <h2>Đăng Nhập</h2>
                <p>Vui lòng điền đầy đủ thông tin</p>
                <hr class="aline">
                <form name="myForm">
                    <div class="form-group content-form">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder = "Nhập địa chỉ email dạng: a@gmail.com" ng-model="data.email" name="email" required>
                        <label>Mật Khẩu</label>
                        <input type="password" class="form-control" placeholder="Nhập mật khẩu" ng-model="data.password" required>
                        <!-- <input type="email" ng-model="hung"> -->
                        <button type="input" class="btn btn-primary btn-block" ng-click="login()">Đăng Nhập</button>
                    </div>
                </form>
                <div class="icon-login">
                    <div class="logo-login">
                    <a href="">
                        <span class="fa fa-google-plus fa-2x" aria-hidden="true"></span>
                    </a>
                    <a href="">
                        <span class="fa fa-facebook fa-2x" aria-hidden="true"></span>
                    </a>
                    <a href="" class="forget-pass">
                        <p>Quên mật khẩu?</p>
                    </a>
                </div>
                <hr>
            </div>

        </div>
    </content>
    <footer>
        <div ng-include="'/html/footer.html'"></div>
    </footer>
</body>
</html>
<script src="/javascripts/login.js"></script>
