<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title></title>
    <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body ng-controller="profileUserController">
    <div ng-include="'/html/header.html'"></div>
    <content>
      <div class="container">
        <div class="create">
          <div class="title">
            <p hidden id="id" ng-model="id"></p>
            <p>Xin Chào {{info.name}}</p>
          </div>
          <div class="content-create-movie">
            <div class="row">
              <div class="col-md-4">
                <div class="show-logo">
                  <img src="" alt="Hinh Demo">
                </div>
              </div>
              <div class="col-md-8">
                <!-- <form name="myForm" method="POST" encType="multipart/form-data"> -->
                  <div class="form-group show-info">
                    <label>Tên người dùng: {{info.name}}</label>
                    <br>
                    <label>Email: {{info.email}}</label>
                    <br>
                    <hr>
                    <label>Danh sách phim</label>
                    <div>
                      <a href="/users/changepass"><button class="btn-pass">Đổi Mật Khẩu</button></a>
                      <a href="/users/edituser"><button class="btn-pass">Chỉnh Sửa Thông Tin</button></a>
                    </div>
                  </div>
                <!-- </form> -->
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </content>
    <footer>
      <div ng-include="'/html/footer.html'"></div>
    </footer>
  </body>
</html>
</script>
<script src="/javascripts/profileUser.js"></script>
