body {
  font: Arial, Helvetica, sans-serif;
}
p{
  font-size: 15px;
}
a {
  color: #00B7FF;
}
header{
  margin-bottom: 20px;
  background-color: #000;
}
footer{
  color: #fff;
  margin-top: 20px;
  background-color: #000;
}
.logo p{
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  /* sai */
}
.btn{
  margin-top: 15px;
  margin-right: 10px;
  font-size: 30px !important;
}
.license p{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
}
.create{
  background-color: lightgrey;
}
.create p{
  color: #000;
  text-align: center;
  font-size: 40px;
}
.create img{
  width: 350px;
  height: 350px;
}
.content-create-movie{
  margin-top: 30px;
}
.form-group{
  margin-right: 50px;
  margin-left: 30px;
}
.form-group label{
  margin-top: 20px;
}
.button-submit{
  text-align: center;
}
.chossedate{
  width: 670px;
  height: 34px;
}
.show-logo{
  margin-left: 30px;
}
.show-logo img{
  border-radius: 10px;
}
.button-file{
  margin-left: 30px;
  width: 350px;
}
.button-file input{
  width: 350px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}

/* start list film */
.select-film select{
  margin-right: 5px;
  height: 34px;
}
.item-film{
  margin-bottom: 20px;
}
.item-film img{
  width: 100%;
}
.box-search {
  margin-bottom: 0px !important;
}
.show-movie{
  margin-top: 30px;
  padding-top: 30px;
}
.desription{
  background-color: #000;
  position: absolute;
  width: auto;
  bottom: 0px;
  left: 15px;
  right: 15px;;
  height: 90px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  
}
.show-des{
  display: none;
}
.desription:hover{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.desription:hover .show-des{
  display: block;
}
.film{
  overflow: hidden;
  position: relative;
}

.desription p{
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
}
.desription h2{
  color: #fff;
  padding-left: 15px;
}
.hr-fiml{
  margin: 0px;
}
footer{
  position: absolute;
  right: 0px;
  left: 0px;
}
.desription h2{
  margin-top: 10px;
}
.show-error p{
  font-size: 15px;
  float: left;
  margin-top: 20px;
}
.show-error label{
  margin: 0px;
  color: red;
}
.form-signup{
  background-color: lightgrey;
}
.form-signup-content{
  margin: 20px 300px;
}
.content-form{
  margin: 0px !important;
}
.aline{
  margin-bottom: 0px !important;
}
.form-signup-content input{
  height: 40px !important;
}
.content-form input{
  /* border-color: red !important; */
}
.icon-login{
  margin-top: 10px;
}
.forget-pass{
  float: right;
}
button:hover{
  cursor: pointer !important;
}
.name-user{
  /* float: left; */
}
.btn-edit{
  background-color: #fff;
  color: #000;
  width: 200px;
  height: 50px;
  margin-left: 100px;
  border-radius: 10px;
}
.btn-pass{
  width: 49%;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
  margin-top: 30px;
  background-color: #fff;
}

/* hiển thị lỗi */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 100px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 100px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 0px; opacity: 1;} 
  to {top: 100px; opacity: 0;}
}

@keyframes fadeout {
  from {top: 0px; opacity: 1;}
  to {top: 100px; opacity: 0;}
}